<header class="mb-auto mx-auto">
  <div>
    <h3 class="float-md-start mb-0">Aidan Beckman</h3>
    <nav class="nav nav-masthead justify-content-center float-md-end">
      <a
        routerLink="/home"
        class="nav-link fw-bold py-1 px-0"
        [routerLinkActive]="['active']"
        aria-current="page"
        >Home</a
      >
      <a
        routerLink="/projects"
        class="nav-link fw-bold py-1 px-0"
        [routerLinkActive]="['active']"
        >Projects</a
      >
      <a
        class="nav-link fw-bold py-1 px-0"
        [routerLinkActive]="['active']"
        routerLink="/resume"
        >Resume</a
      >
      <a
        class="nav-link fw-bold py-1 px-0"
        href="https://www.linkedin.com/in/aidan--beckman/?profileId=ACoAAD5BxY8BO5KN3FRf8ha2xGKpWfHOaN1UT74"
        target="_blank"
        >LinkedIn</a
      >
    </nav>
  </div>
</header>
