<div class="container-fluid marketing mx-auto">
  <!-- Three columns of text below the carousel -->
  <div class="d-flex flex-wrap justify-content-center"
  style="padding-bottom:1em">
    <div class="flex-column my-2">
      <div
        class="card"
        style="max-width: 17rem; height: 100%; border-radius: 0.5rem"
      >
      <img class="card-img-top m-auto"
      style="border-top-left-radius: 0.5rem; border-top-right-radius: 0.5rem;"
      src="../assets/pyPreviewR.png" />
        <title>Python Data Analysis Preview</title>
        <h3 class="fw-normal text-left px-3 pt-2 card-title">
          Data Analysis: Python
        </h3>
        <p class="card-body">
          A PowerPoint presentation discussing trends in a dataset containing
          historical tornado records for the United States; final project
          deliverable for a programming class in Python. (12/22).
        </p>
        <p class="mx-3 mb-3">
          <a class="btn btn-dark mt-auto" routerLink="/python">View details</a>
        </p>
      </div>
    </div>
    <div class="flex-column my-2">
      <div
        class="card"
        style="max-width: 17rem; height: 100%; border-radius: 0.5rem"
      >
        <img
          class="card-img-top "
          style="border-top-left-radius: 0.5rem;border-top-right-radius: 0.5rem;"
          src="../assets/TableauPreviewR.png"
        />
        <title>Tableau Preview</title>
        <h3 class="fw-normal text-left px-3 pt-2 card-title mt-auto">
          Data Analysis: Tableau
        </h3>
        <p class="card-body">
          A Tableau dashboard developed using a sample set of broker data,
          allowing a user to easily make comparisons across a selection of
          performance metrics. Final project deliverable for IS capstone course.
          (12/22)
        </p>
        <p class="mx-3 mb-3">
          <a class="btn btn-dark mt-auto" routerLink="/tableau">View details</a>
        </p>
      </div>
    </div>
    <!-- /.col-lg-4 -->
    <div class="flex-column my-2">
      <div
        class="card"
        style="max-width: 17rem; height: 100%; border-radius: 0.5rem"
      >
        <img
          class="card-img-top"
          style="border-top-left-radius: 0.5rem;border-top-right-radius: 0.5rem;"
          src="../assets/CodePreviewR.png"
        />

        <title>Code Preview</title>
        <h3 class="card-title fw-normal text-left px-3 pt-2 mt-auto">
          Programming Projects
        </h3>
        <p class="card-body">
          A Github repository containing various assignments completed for
          school in HTML5/CSS3, C#, and Python (2021-2022).
        </p>
        <p class="mx-3 mb-3">
          <a
            class="btn btn-dark mt-auto mb-0"
            href="https://github.com/apbeckman/schoolProjects"
            >View details</a
          >
        </p>
      </div>
    </div>
    <!-- /.col-lg-4 -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
