
<div class="container marketing gx-2 mx-auto">
  <!-- Three columns of text below the carousel -->
  <div class="row d-flex">
    <div class="card" style="width: 17rem; border-radius: 1rem">
      <img src="../assets/pyPreview.png" />
      <title>Python Data Analysis Preview</title>
      <h3 class="fw-normal text-center card-title">Data Analysis: Python</h3>
      <p class="card-body">
        A PowerPoint presentation discussing trends in a dataset containing
        historical tornado records for the United States; final project
        deliverable for a programming class in Python. (12/22).
      </p>
      <p>
        <a class="btn btn-dark" href="../python/index.html"
          >View details &raquo;</a
        >
      </p>
    </div>
    <!-- /.col-lg-4 -->
    <div class="card" style="width: 17rem; border-radius: 1rem">
      <img src="../assets/TableauPreview.png" />
      <title>Tableau Preview</title>
      <h3 class="fw-normal text-center card-title">Data Analysis: Tableau</h3>
      <p class="card-body">
        A Tableau dashboard developed using a sample set of broker data,
        allowing a user to easily make comparisons across a selection of
        performance metrics. Final project deliverable for IS capstone course.
        (12/22)
      </p>
      <p>
        <a class="btn btn-dark" href="../tableau/index.html"
          >View details &raquo;</a
        >
      </p>
    </div>
    <!-- /.col-lg-4 -->
    <div class="card" style="width: 17rem; border-radius: 1rem">
      <img class="card-img-top" src="../assets/CodePreview.png" />
      <title>Code Preview</title>
      <h3 class="fw-normal text-center card-title">Programming Projects</h3>
      <p class="card-body">
        A Github repository containing various assignments completed for school
        in HTML5/CSS3, C#, and Python (2021-2022).
      </p>
      <p>
        <a
          class="btn btn-dark mt-auto"
          href="https://github.com/apbeckman/schoolProjects"
          >View details &raquo;</a
        >
      </p>
    </div>
    <!-- /.col-lg-4 -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
