<div class="flex-column align-items-center m-2">
  <div class="card m-3"
  style="max-height:100vh">
    <div class="card-body"
    style="max-height:10">
      <div class="embed-responsive ratio" style="--bs-aspect-ratio: 100%">
        <iframe class="embed-responsive-item"
          src="https://drive.google.com/file/d/17NJ_gukNlX4QT8pwbtbtRvblf0_AKe9v/preview"
          style="background: #000000; width: 100%; max-height: 100vh" allowfullscreen allow="autoplay"></iframe>
      </div>
    </div>
  </div>
</div>
