<div class="text-center cover-container mx-auto h-100 flex-column">
  <h1>Hi</h1>

  <p class="lead">
    I enjoy writing code, wrangling data, and making digital art. This site was
    built using Angular and Bootstrap, and the codebase can be found on my
    <a
      href="https://github.com/apbeckman/apbeckman.github.io"
      style="color: white"
      >Github</a
    >.
  </p>
  <p class="lead">
    <a href="../projects/index.html" class="btn btn-lg btn-dark fw-bold"
      >Some other things I've done</a
    >
  </p>
</div>
